<footer class="main-footer" style="text-align: center; direction: ltr; margin-left: 0 !important; padding: 15px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <strong>Copyright &copy; 2026-2027 <a target="_blank" href="https://www.linkedin.com/in/muhmad-wagih-701210250">Muhmad Wagih</a>.</strong>
        <br class="d-block d-sm-none"> All rights reserved.
      </div>
      
      <div class="col-12 mt-2">
          <a target="_blank" href="https://www.facebook.com/profile.php?id=100028334749829"><i class="fab fa-lg mx-2 fa-facebook"></i></a>
          <a target="_blank" class="text-dark" href="https://github.com/MohameedWagih"><i class="fab fa-lg mx-2 fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>