<!-- في المكان ده هحط footer -->
      <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2026-2027 <a target="_blank" href="https://www.linkedin.com/in/muhmad-wagih-701210250">Muhmad Wagih</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100028334749829"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" class="text-warning" href="https://github.com/MohameedWagih"><i class="fab fa-lg ml-1 fa-github"></i></a>
    </div>
  </footer>